tsconfig.json
src
.prettierrc
nest-cli.json
package-lock.json
tsconfig.build.json
tsconfig.json
.gitignore
.gitlab-ci.yml
.npmrc
index.ts
.eslintignore
.eslintrc.json

npm-debug.log
.DS_Store
commitlint.config.js
/shell-scripts
.husky
.idea
test
.eslintrc
